# Created by https://www.gitignore.io/api/codeblocks

### CodeBlocks ###
# specific to CodeBlocks IDE
*.layout
*.depend

# generated directories
obj/
*.exe
*.out
*.app

# mysql library dll - to KEEP
!bin/Debug/libmysql.dll
!libmysql-505/bin/libmysql.dll


# End of https://www.gitignore.io/api/codeblocks
Maze Raider.cscope_file_list
